h1{
	color: black;
	font-family: arial;
	background-color: grey;
	border: 2px solid black;
	font-size: 40px;
}
fieldset{
	background-color: grey;
	font-size: 25px;
	font-style: italic;
}
input{
	background-color: grey;
	width: 188px;

}